.header-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.header-container > img{
    width: 100px;
}

.header-container>ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 0 1rem;
}

.card-container{
    width: 250px;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.card-container>img{
    width: 100%;
    height: 50%;
    border-radius: 1rem;
}

.cards-div{
    display: flex;

}